@using Signature;
@using Services;
@inject DocumentService DocumentService;
@using Idfy.Blazor.DemoSite.Shared;


<div class="app-padding">

    <div class="doc-status">
        <p>Document status</p>
        <h3>@(Document.Status?.DocumentStatus.ToString() ?? "Not created yet")</h3>
    </div>

    <MatTextField @bind-Value="@Document.ExternalId" Label="External Id" Outlined="true"></MatTextField>

    <p>Contact Info</p>
    <MatTextField @bind-Value="@Document.ContactDetails.Name" Label="Company name" Outlined="true"></MatTextField>
    <MatTextField @bind-Value="@Document.ContactDetails.Phone" Label="Phone" Outlined="true"></MatTextField>
    <MatTextField @bind-Value="@Document.ContactDetails.Email" Label="Email" Outlined="true"></MatTextField>
    <MatTextField @bind-Value="@Document.ContactDetails.Url" Label="Url" Outlined="true"></MatTextField>

</div>



@code {

    protected DemoDocument Document;
    protected override async Task OnInitAsync()
    {
        Document = DocumentService.Document;
    }
}
