@inherits LayoutComponentBase;
@using Services;
@inject EnvironmentService EnvironmentService;
@inject IUriHelper UriHelper;


<MatThemeProvider Theme="@Static.Themes.BlueIsh">
    <MatAppBarContainer>
        <MatAppBar Fixed="true">
            <MatAppBarRow>
                <MatAppBarSection>
                    @*<MatIconButton Icon="menu"></MatIconButton>*@
                    <img id="idfy-logo" src="https://signerefiles.blob.core.windows.net/img/idfy-logo/idfy-white.svg" />
                    <MatAppBarTitle>Signature demo site</MatAppBarTitle>
                </MatAppBarSection>
                <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                    <div>
                        <MatButton Icon="settings" Unelevated="true" Label="@EnvironmentService.CurrentEnvironment" OnClick="@OnClick" RefBack="@buttonForwardRef"></MatButton>
                        <MatMenu @ref="Menu" TargetForwardRef="@buttonForwardRef">
                            <MatList>
                                @foreach (var env in EnvironmentService.Environments)
                                {
                                    <MatListItem @OnClick="@(e => @UpdateEnv(env))">@env</MatListItem>
                                }
                            </MatList>
                        </MatMenu>

                    </div>

                </MatAppBarSection>
            </MatAppBarRow>
        </MatAppBar>

        <MatAppBarContent>
            <div class="main mat">
                <div class="content app">
                    @Body
                </div>
            </div>
        </MatAppBarContent>
    </MatAppBarContainer>
</MatThemeProvider>

@code {
    ForwardRef buttonForwardRef = new ForwardRef();
    BaseMatMenu Menu;

    public void OnClick(UIMouseEventArgs e)
    {
        this.Menu.OpenAsync();
    }


    protected override async Task OnInitAsync()
    {
        await EnvironmentService.Initialize(UriHelper.GetBaseUri());
    }

    protected void UpdateEnv(string value)
    {
        EnvironmentService.CurrentEnvironment = value;
    }


}


