@inherits LayoutComponentBase;
@using Services;
@inject EnvironmentService EnvironmentService;
@inject NavigationManager UriHelper;


<MatThemeProvider Theme="@Static.Themes.Signicat">
    <MatAppBarContainer>
        <MatAppBar Fixed="true" Id="app-bar">
            <MatAppBarRow>
                <MatAppBarSection>
                    @*<MatIconButton Icon="menu"></MatIconButton>*@
                    <img id="idfy-logo" src="/assets/signicat-logo-black.svg" />
                    <MatAppBarTitle>Signature demo site (Express)</MatAppBarTitle>
                </MatAppBarSection>
                <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                    <div>
                        <MatButton Icon="settings" Unelevated="true" Label="@EnvironmentService.CurrentEnvironment" OnClick="@OnClick" RefBack="@buttonForwardRef"></MatButton>
                        <MatMenu @ref="Menu" TargetForwardRef="@buttonForwardRef">
                            <MatList>
                                @foreach (var env in EnvironmentService.Environments)
                                {
                                    <MatListItem OnClick="@(e => UpdateEnv(env))">@env</MatListItem>
                                }
                            </MatList>
                        </MatMenu>

                    </div>

                </MatAppBarSection>
            </MatAppBarRow>
        </MatAppBar>

        <MatAppBarContent>
            <div class="main mat">
                <div class="content app">
                    @Body
                </div>
            </div>
        </MatAppBarContent>
    </MatAppBarContainer>
</MatThemeProvider>

@code {
    ForwardRef buttonForwardRef = new ForwardRef();
    BaseMatMenu Menu;

    public void OnClick()
    {
        this.Menu.OpenAsync();
    }


    protected override async Task OnInitializedAsync()
    {
        await EnvironmentService.Initialize(UriHelper.BaseUri);
    }

    protected void UpdateEnv(string value)
    {
        EnvironmentService.CurrentEnvironment = value;
    }


}


